.wpol_dot_woff {
  font-family: 'wpol', serif;
  font-size: 21px;
}

.roboto {
  font-family: 'roboto', serif;
  font-size: 21px;
}

.bluebell {
  font-family: 'Bluebell', serif;
  font-size: 21px;
}

@font-face {
  font-family: 'wpol';
  src: url('/wpol.woff');
}


@font-face {
  font-family: 'roboto';
  src: url('/roboto.woff2');
}

@font-face {
  font-family: 'Bluebell';
  src: url('/Bluebell.ttf');
}
